/*layouts.appã®css*/
.header{
    background: #000;
    padding: 50px;
}

.header__inner{
    margin: 0 auto;
    padding: 10px 10px;
    max-width: 1230px;
}

.header-utilities{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    text-decoration: none;
}

.header-nav {
    display: flex;
}

.header-nav__item {
    display: flex;
    align-items: center;
}

.header-nav__link{
    color: #ddd;
}

.header-nav__link,
.header-nav__button {
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
}
