/*layouts.appã®css*/
.header{
    background: #000;
    padding: 1px;
}

.header__inner{
    margin: 0 auto;
    padding: 1px 1px;
    max-width: 1230px;
}


.header-utilities{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__img{
    text-decoration: none;
    margin-left: -200px;
}

.header-nav {
    display: flex;
    margin-right: -200px;
}

.header-nav__item {
    display: flex;
    align-items: center;
}

.header-nav__link{
    color: #ddd;
}

.header-nav__link,
.header-nav__button {
    text-decoration: none;
}
