.icon{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.custom-upload {
    width: 160px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #f74343;
    cursor: pointer;
    margin-left: 200px;
    color: #f74343;
    font-weight: bold;
    background-color: white;
    text-align: center;
}

.image-upload {
    display: none;
}

.image-label {
    width: 160px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #f74343;
    cursor: pointer;
    margin-left: 200px;
    color: #f74343;
    font-weight: bold;
    background-color: white;
    text-align: center;
}

.image-label:hover {
    background-color: #f74343;
    color: white;
}

.custom-upload__button{
    text-decoration: none;
    background: #ddd;
}

.hidden {
    display: none;
}

.edit-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 600px;
}

.edit-form__heading {
    margin-bottom: 40px;
    text-align: center;
}

.form__group-title {
    font-weight: bold;
}

.form__input--text input,
.form__input--textarea textarea {
    padding: 15px;
    width: 600px;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 30px;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__button {
    margin-top: 50px;
    text-align: center;
}

.form__button-submit {
    border: none;
    border-radius: 5px;
    padding: 15px;
    width: 600px;
    background: #f74343;
    color: #fff;
    font-weight: bold;

}