/*商品一覧画面のcss*/
.box {
    display: inline-block;
    margin: left;
    width: 200px;
    height: 200px;
    background-color: lightblue;
    border: 1px solid blue;
    margin: 10px;
}

.category-content{
    margin: 30px auto;
    width: 70%;
    text-align: center;
}

.category-group__inner{
    width: 100%;
}

.category-group__row{
    border-bottom: 1px solid black;
}

.category-group__header{
    padding: 12px;
    width: 20%;
    text-align: left;
    font-weight: bold;
}

.category-group__header-span{
    margin-right: 40%;
}