/* 商品詳細画面*/
.detail-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 20px;
}

.product-price{
    font-size: 24px;
}

.left-content{
    width: 600px;

}

.right-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
}

.description-item{
    display: inline-block;
}

.condition-group{
    display: flex;
    align-items: center;
    gap: 50px;
}


.category-group{
    display: flex;
    align-items: center;
    gap: 20px;
}

.category-name{
    border: 1px solid rgb(226, 223, 223);
    border-radius: 20px;
    padding: 0 20px;
    background-color: rgb(226, 223, 223);
}

.form-button{
    margin-top: auto;
}

.form__button-submit{
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 300px;
    background: #f74343;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
}

.comment__group--item{
    font-weight: bold;
}

.comment__input--textarea textarea{
    width: 600px;
    height: 240px;
}

.comment__button-submit {
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 300px;
    background: #f74343;
    color: #fff;
    font-weight: bold;
}

.comment__body {
    display: flex;
    flex-direction: column;

}

.comment__heading{
    display: flex;
    align-items: center;
}

.comment__name {
    margin: 0;
    font-weight: bold;
}

.comment__text {
    margin: 0;
    word-break: break-word;
    border: 1px solid gray;
    padding: 1em 1.5em;
    width: 300px;
    background-color: #f5f1f1;
}