.profile-content{
    max-width: 100vw;
    margin: 0 auto;
}

.profile-heading{
    text-align: center;
}

.product-wrapper {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(5, auto);
    margin: 10px;
    gap: 10px;
}

.product-link {
    text-decoration: none;
    color: black;
}

.profile-heading{
    display: flex;
    align-items: center;
    gap: 50px;
}

.profile__button{
    margin-right: 0;
}

.profile__button-submit {
    width: 160px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #f74343;
    cursor: pointer;
    margin-left: 200px;
    color: #f74343;
    font-weight: bold;
    background-color: white;
}

.category-content {
    margin: 50px 0;
    text-align: center;
}

.category-group__inner{
    width: 100%;
    text-align: center;
}

.category-group__row {
    border-bottom: 1px solid black;
}

.category-group__header {
    padding: 12px;
    width: 40%;
    margin-right: 50px;
    font-weight: bold;
}

.category-group__link{
    text-decoration: none;
    gap: 30px;
    color: black;
    margin-right: 50px;
}
