.profile-content{
    max-width: 100vw;
    margin: 0 auto;
}

.profile-heading{
    text-align: center;
}

.icon {
    margin: 30px 500px;
    display: flex;
    align-items: center;
}

.circle__img img {
    border-radius: 50%;
}

.profile__button{
    margin-right: 0;
}

.profile__button-submit {
    width: 160px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #f74343;
    cursor: pointer;
    margin-left: 200px;
    color: #f74343;
    font-weight: bold;
    background-color: white;
}


.box {
    display: inline-block;
    margin: left;
    width: 200px;
    height: 200px;
    background-color: lightblue;
    border: 1px solid blue;
    margin: 10px;
}

.category-table {
    margin: 30px 0;
    text-align: center;
}

.category-table__inner{
    width: 100%;
    text-align: center;
}

.category-table__row {
    border-bottom: 1px solid black;
}

.category-table__header {
    padding: 10px;
    text-align: left;
    font-weight: bold;
}
